<div class="mb-4">
  <ng-template #separatorTemplate>
    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
  </ng-template>

  <div class="col-md text-primary ">
    <xng-breadcrumb  [separator]="separatorTemplate"
                     class="myapp-breadcrumb"
                     id="advancedTemplate2"
                     [preserveQueryParams]="false">
    </xng-breadcrumb>
  </div>

</div>





<nb-card>
  <nb-card-body>
    <form [formGroup]="addform" (ngSubmit)="submit()">
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>First step</ng-template>
        <h4>Informations professionnelles</h4>
        <div class="mb-3 row">
          <nb-alert accent="success">
            <nb-action size="large" class="col-md-12">
              <nb-icon status="warning" icon="bulb-outline" class="mx-3"></nb-icon>
            </nb-action>
          </nb-alert>
          <div class="mb-3 col-md-6">
            <label for="userName" class="form-label h5">Nom d'utilisateur unique  </label>
            <input type="text" class="form-control" id="userName"  required   formControlName="userName"  placeholder="Nom d'utilisateur">
          </div>
          <div class="mb-3 col-md-6">
            <label for="FirstName" class="form-label h5"> Nom </label>
            <input type="text" class="form-control" id="FirstName"  required   formControlName="nom"  placeholder="Nom ">
          </div>
          <div class="mb-3 col-md-6">
            <label for="FamilyName" class="form-label h5">Prenom </label>
            <input type="text" class="form-control"  required formControlName="prenom" id="FamilyName" placeholder="Prenom  ">
          </div>
          <div class="mb-3 col-md-6">
            <label for="input-email" class="form-label h5">Email address</label>
            <input
              nbInput
              fullWidth
              formControlName="email"
              class="form-control"
              name="email"
              id="input-email"
              pattern=".+@.+\..+"
              placeholder="Email"
              fieldSize="large"
              [status]="addform.controls['email'].dirty ? (addform.controls['email'].invalid  ? 'danger' : 'success') : 'basic'"
            />
          </div>
          <div class="mb-3 col-md-6">
            <label for="passwordIn" class="form-label h5">Mot de passe</label>
            <input type="password" required class="form-control" id="passwordIn"  formControlName="password" placeholder="Mot de pass">
          </div>
          <div class="mb-3 col-md-6">
            <label for="confirmPassword" class="form-label h5">Mot de passe</label>
            <input type="password" required class="form-control" id="confirmPassword"  formControlName="confirmPassword" placeholder="confirmation de mot de pass">
          </div>
          <div class="mb-3 col-md-6">
            <label for="datedeNaissance" class="form-label h5">Date de Naissance</label>
            <input id="datedeNaissance" fullWidth nbInput placeholder="Date de Naissance"  formControlName="datedeNaissance" [nbDatepicker]="dateTimePicker">
            <nb-datepicker #dateTimePicker></nb-datepicker>
          </div>
          <div class="mb-3 col-md-6">
            <label for="cin" class="form-label h5"> Cin </label>
            <input type="text" class="form-control" id="cin"  required   formControlName="cin"  placeholder="Cin">
          </div>
          <div class="mb-3 col-md-6">
            <label for="matricule" class="form-label h5">Matricule </label>
            <input type="text" class="form-control"  required formControlName="matricule" id="matricule" placeholder="matricule  ">
          </div>
          <div class="mb-3 col-md-6">
            <label for="adress" class="form-label h5">Adress</label>
            <input type="text" class="form-control"  required formControlName="Adress" id="Adress" placeholder="Adress  ">
          </div>
          <div class="mb-3 col-md-6">
            <label for="ville" class="form-label h5">ville</label>
            <input type="text" class="form-control"  required formControlName="ville" id="ville" placeholder="ville  ">
          </div>
          <div class="mb-3 col-md-6">
            <label for="codePostal" class="form-label h5">Code Postal</label>
            <input type="text" required class="form-control" id="codePostal"  formControlName="codePostal" placeholder="Code Postal">
          </div>
          <div class="mb-3 col-md-6">
            <label for="genre" class="form-label h5">Genre</label>
            <input type="text" required class="form-control" id="genre"  formControlName="genre" placeholder="genre">
          </div>

        </div>
<button type="submit">Save</button>
        <button nbButton disabled status="primary" nbStepperNext class="mx-2" type="submit"><nb-icon icon="arrow-ios-back-outline"></nb-icon>prev</button>
        <button nbButton status="success" nbStepperNext class="mx-2" type="submit" >Next Step<nb-icon icon="arrow-ios-forward-outline"></nb-icon></button>

      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Second step</ng-template>
        <h4>Informations personnelles</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious class="mx-1">prev</button>
        <button nbButton nbStepperNext class="mx-1">next</button>
      </nb-step>
      <nb-step label="Third step">
        <h4>Step content #3</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Final step</ng-template>
        <h4>Step content #4</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
    </form>
  </nb-card-body>
</nb-card>
