<div class="mb-4">
  <ng-template #separatorTemplate>
    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
  </ng-template>

  <div class="col-md text-primary ">
    <xng-breadcrumb  [separator]="separatorTemplate"
                     class="myapp-breadcrumb"
                     id="advancedTemplate2"
                     [preserveQueryParams]="false">
    </xng-breadcrumb>
  </div>

</div>





<nb-card>
  <nb-card-body>
    <form [formGroup]="addform" (ngSubmit)="submit()">
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>First step</ng-template>
        <h4>Informations professionnelles</h4>
        <div class="mb-3 row">
          <nb-alert accent="success">
            <nb-action size="large" class="col-md-12">
              <nb-icon status="warning" icon="bulb-outline" class="mx-3"></nb-icon>
              don't have a account ? connect the administration
            </nb-action>
          </nb-alert>
          <div class="mb-3 col-md-6">
            <label for="FirstName" class="form-label h5">First Name </label>
            <input type="text" class="form-control" id="FirstName"  required   formControlName="nom"  placeholder="First Name  ">
          </div>
          <div class="mb-3 col-md-6">
            <label for="FamilyName" class="form-label h5">Family Name </label>
            <input type="text" class="form-control"  required formControlName="prenom" id="FamilyName" placeholder="Family Name ">
          </div>
          <div class="mb-3 col-md-6">
            <label for="input-email" class="form-label h5">Email address</label>
            <input
              nbInput
              fullWidth
              formControlName="email"
              class="form-control"
              name="email"
              id="input-email"
              pattern=".+@.+\..+"
              placeholder="Email"
              fieldSize="large"
              [status]="addform.controls['email'].dirty ? (addform.controls['email'].invalid  ? 'danger' : 'success') : 'basic'"
            />
          </div>
            <div class="mb-3 col-md-6">
            <label for="passwordIn" class="form-label h5">Password</label>
            <input type="password" required class="form-control" id="passwordIn"  formControlName="password" placeholder="name@example.com">
          </div>
          <div class="mb-3 col-md-6">
            <label for="birthdate" class="form-label h5">Birth date</label>
            <input id="birthdate" fullWidth nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker">
            <nb-datepicker #dateTimePicker></nb-datepicker>
          </div>
        </div>
<button type="submit">Save</button>
        <button nbButton disabled status="primary" nbStepperNext class="mx-2" type="submit"><nb-icon icon="arrow-ios-back-outline"></nb-icon>prev</button>
        <button nbButton status="success" nbStepperNext class="mx-2" type="submit" >Next Step<nb-icon icon="arrow-ios-forward-outline"></nb-icon></button>

      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Second step</ng-template>
        <h4>Informations personnelles</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious class="mx-1">prev</button>
        <button nbButton nbStepperNext class="mx-1">next</button>
      </nb-step>
      <nb-step label="Third step">
        <h4>Step content #3</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Final step</ng-template>
        <h4>Step content #4</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
    </form>
  </nb-card-body>
</nb-card>
