<div class="mb-4">
  <ng-template #separatorTemplate>
    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
  </ng-template>

  <div class="col-md text-primary ">
    <xng-breadcrumb  [separator]="separatorTemplate"
                     class="myapp-breadcrumb"
                     id="advancedTemplate2"
                     [preserveQueryParams]="false">
    </xng-breadcrumb>
  </div>
</div>

<nb-card  >
  <nb-card-body>
    <div class=" col-md left col">
    <nb-icon icon="more-vertical-outline" [nbContextMenu]="items"></nb-icon>
    </div>
<div class="row justify-content-center">
  <img src="assets/imgs/productAccuiel.svg" style="max-width:30%;"/>
</div>
    <div class=" justify-content-center text-center">
 <strong>Tout d'abord : que fabriqué-vous ?
 </strong>
   <p>
     vous avez d'abord besoin de certains produits.
   </p>
      <button     class="btn btn-success my-1" routerLink="add">Ajouter Produits</button>
      <button   class="btn btn-dark my-1" routerLink="list" >List Produits</button>

    </div>

  </nb-card-body>
</nb-card>
