<div class="mb-4">
  <ng-template #separatorTemplate>
    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
  </ng-template>

  <div class="col-md text-primary ">
    <xng-breadcrumb  [separator]="separatorTemplate"
                     class="myapp-breadcrumb"
                     id="advancedTemplate2"
                     [preserveQueryParams]="false">
    </xng-breadcrumb>
  </div>

</div>

<nb-card status="primary" class="col-md-8">
  <nb-card-header>   les permissions d'un rôle</nb-card-header>
  <nb-card-body>   <form>
    <label class="subtitle mx-1">
      Sélectionner un rôle.</label>
      <nb-select class="mx-1" placeholder="List des rôles" status="primary" (selectedChange)="getRolefromSelect($event)" >
        <nb-option [value]="r.id" *ngFor="let  r of roles"  >{{r.name}}</nb-option>
      </nb-select>
    <button nbButton outline status="success" type="button" class="mx-1" (click)="open()">Affecter une permission</button>
  </form>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <ng2-smart-table  [settings]="settings" [source]="permissionTab"  (delete)="deletePermission($event)">
    </ng2-smart-table>

  </nb-card-body>
</nb-card>
