<nb-card status="success">
  <nb-card-header>Mettre à jour</nb-card-header>
  <nb-card-body>
    <div class="row my-1">
      <div class="col-md-auto"><label class="subtitle">Mettre à jour le nom  </label>
      </div>
      <div class="col-md-auto">
        <input type="text" #rolename [value]="RoleObject.data.name"    name="rolename" nbInput><br>
      </div>
    </div>
    <button nbButton outline status="success" (click)="dismiss(rolename.value)">valider la Mettre à jour</button>
  </nb-card-body>
</nb-card>
