


<div class="card-row" >

  <div class="card-col ">
    <nb-card size="tiny" accent="primary" class="card-color">
      <nb-card-body class="row">
        <div class="col-lg-1">
          <nb-icon icon="star"></nb-icon>
        </div>
        <div class="col-lg-11 text-center">
          <b>Production Notification</b>
        </div>
        <div class="row ">
          <div >Be sure to have your pages set
            up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag
            for proper responsive behaviors. Put it all together and your pages should look like this:</div>
          <div class="col-lg-6">
            <button nbButton status="primary"><nb-icon icon="shield-outline"></nb-icon>Manage this notice</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card size="tiny" accent="info" class="card-color">
      <nb-card-body class="row d-flex justify-content-start">
        <div class="col-lg-1">
          <nb-icon icon="star"></nb-icon>
        </div>
        <div class="col-lg-11 text-center">
          <b>Machine Notification</b>
        </div>
        <div class="row ">
          <div >Curious which components explicitly require our JavaScript and Popper? Click the show components link below.
            If you’re at all unsure about the
            general page structure, keep reading for an example page template.</div>
          <div class="col-lg-6">
            <button nbButton status="info"><nb-icon icon="shield-outline"></nb-icon>Manage this notice</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>


  <div class="card-col">

      <nb-card size="medium" accent="warning" class="card-color-warning">
        <nb-card-body class="row mb-0 ">
          <div class="col-lg-1">
            <nb-icon icon="star"></nb-icon>
          </div>
          <div class="col-lg-11 ">
            <b>Machine Notification</b>
          </div>
          <div class="row ">
            <div >Curious which components explicitly require our JavaScript and Popper? Click the show components link below.
              If you’re at all unsure about the
              general page structure, keep reading for an example page template .
              Starter template
              Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport
              meta tag for proper responsive behaviors. Put it all together and your pages should look like this:
              Starter template
              Be sure to have your pages set up with the latest design
              and development standards. That means using an HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your pages should look like this:</div>
            <div class="col-lg-6">
              <button nbButton status="warning"><nb-icon icon="shield-outline"></nb-icon>Manage this notice</button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
</div>
</div>
