



<nb-card  accent="info">
  <nb-card-body>
    <table class="table"  >
      <thead>
      <tr>
        <th class="subtitle-2" >Identifiant</th>
        <th class="subtitle-2" >Email</th>
        <th class="subtitle-2" >Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of users">
        <td hidden>{{u.id}}</td>
        <td  class="subtitle-2">{{u.userName}}</td>
        <td  class="subtitle-2" >{{u.email}}</td>
        <td>
          <button nbButton status="success" size="small" ><nb-icon icon="eye-outline"></nb-icon></button>
          <button nbButton status="primary" size="small"><nb-icon icon="edit-2-outline"></nb-icon></button>
          <button nbButton status="danger" size="small"><nb-icon icon="trash-2-outline"></nb-icon></button>

        </td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>

