


  <div class="row mb-4 my-auto">
    <div class="col ">
      <ng-template #separatorTemplate>
        <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
      </ng-template>

      <div class="col-md text-primary ">
        <xng-breadcrumb  [separator]="separatorTemplate"
                         class="myapp-breadcrumb"
                         id="advancedTemplate2"
                         [preserveQueryParams]="false">
        </xng-breadcrumb>
      </div>
    </div>
    <div class=" left col">
      <button nbButton outline status="success" size="medium"><nb-icon icon="person-add-outline"></nb-icon>add Person </button>
    </div>
  </div>


<nb-card  accent="info">
  <nb-card-body>
    <ng2-smart-table  [settings]="settings" [source]="users" (edit)="editUser($event)" (create)="createNewUser()" (delete)="deleteUser($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
