<div class="mb-4">
  <ng-template #separatorTemplate>
    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
  </ng-template>
  <div class="col-md text-primary ">
    <xng-breadcrumb [separator]="separatorTemplate"
                    class="myapp-breadcrumb"
                    id="advancedTemplate2"
                    [preserveQueryParams]="false">
    </xng-breadcrumb>
  </div>
</div>
<form [formGroup]="prodform" (ngSubmit)="submit()">
  <div class="row">
    <div class="col">
      <button nbButton outline status="basic" class="mx-2" routerLink="../">
        <nb-icon icon="arrow-back-outline"></nb-icon>
      </button>
      <strong>Ajouter Produit</strong>
    </div>
    <div class=" left col">
      <button class="btn btn-light" routerLink="../list" style="cursor: pointer;" nbTooltip=" List produits ">
        <i class="fa-solid fa-list me-1 "></i>
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-7">
      <nb-card>
        <nb-card-body class="row mb-0 ">
          <div class="row ">
            <div class="form-group ">
              <label for="nomp" class="text-lg-start my-1">Titre</label>
              <input formControlName="nom"
                     [status]="prodform.controls['nom'].dirty ? (prodform.controls['nom'].invalid  ? 'danger' : 'success') : 'basic'"
                     type="text"
                     nbInput
                     fullWidth
                     fieldSize="large"
                     status="primary"
                     id="nomp"
                     placeholder="t-shirt à manches courtes"
              >
              <ng-container *ngIf="submitted  && prodform.controls['nom'].invalid && prodform.controls['nom'].dirty">
                <nb-alert class="my-2" status="danger">
                  Incorrect nom format ...
                </nb-alert>
              </ng-container>
            </div>
          </div>
          <div class="row ">
            <div class="form-group ">
              <label class="text-lg-start my-1">Description</label>
              <nb-card class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
                <ngx-editor
                  [editor]="editor"
                  [ngModel]="html"
                  [disabled]="false"
                  [placeholder]="'Description...'"
                  formControlName="description"

                ></ngx-editor>
              </nb-card>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body class="row ">
          <strong><i class="fa-solid fa-images"></i> Images</strong>
          <div class="row ">
            <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label>Accepte uniquement les images</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body class="row">
          <strong><i class="fa-solid fa-coins text-warning"></i> Tarification des prix</strong>

          <div class="col-md-6">
            <div class="form-group">
              <label for="Prix"> Prix de vente</label>
              <input
                id="prix"
                formControlName="lastPrix"
                [status]="prodform.controls['lastPrix'].dirty ? (prodform.controls['lastPrix'].invalid  ? 'danger' : 'success') : 'basic'"
                status="info"
                type="text"
                nbInput
                fullWidth
                placeholder="Prix de vente">
            </div>
            <ng-container
              *ngIf=" submitted  && prodform.controls['lastPrix'].invalid && prodform.controls['lastPrix'].dirty">
              <nb-alert class="my-2" status="danger">
                le Prix n'es pas vide ou doit etre un nombre décimal
              </nb-alert>
            </ng-container>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Coût</label>
              <input
                formControlName="cout"
                [status]="prodform.controls['cout'].dirty ? (prodform.controls['cout'].invalid  ? 'danger' : 'success') : 'basic'"
                status="info"
                type="text"
                nbInput
                fullWidth
                placeholder="Coût d'achat"/>
            </div>
            <ng-container
              *ngIf=" submitted  && prodform.controls['cout'].invalid && prodform.controls['cout'].dirty">
              <nb-alert class="my-2" status="danger">
                le cout est n'est pas vide ou doit etre un nombre décimal
              </nb-alert>
            </ng-container>
          </div>

        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body class="row">
          <strong><i class="fa-solid fa-fingerprint mx-1"></i>Inventaire</strong>
          <div class="form-group">
            <label class="col-lg-4 my-1">Reference interne</label>
            <input
              formControlName="ref"
              status="info"
              type="text"
              nbInput
              fullWidth
              [status]="prodform.controls['ref'].dirty ? (prodform.controls['ref'].invalid  ? 'danger' : 'success') : 'basic'"
              placeholder="Référence interne">
            <ng-container
              *ngIf=" submitted  && prodform.controls['ref'].invalid && prodform.controls['ref'].dirty">
              <nb-alert class="my-2" status="danger">
                Incorrect Reference format ...
              </nb-alert>
            </ng-container>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">

                <label class="col-lg-4 my-1">sku</label>
                <p class="caption"> (Stock Keeping Unit)</p>
                <input
                  formControlName="sku"
                  status="info"
                  type="text"
                  nbInput
                  fullWidth
                  [status]="prodform.controls['sku'].dirty ? (prodform.controls['sku'].invalid  ? 'danger' : 'success') : 'basic'"
                  placeholder="SkU">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-lg-4 my-1">barcode</label>
                <p class="caption"> (ISBN, UPC, GTIN, etc.)</p>
                <input
                  formControlName="barcode"
                  status="info"
                  type="text"
                  nbInput
                  fullWidth
                  [status]="prodform.controls['barcode'].dirty ? (prodform.controls['barcode'].invalid  ? 'danger' : 'success') : 'basic'"
                  placeholder="code barre De Produit">
              </div>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body class="row">
          <strong><i class="fa-brands fa-cloudsmith  me-1"></i>Variants</strong>
          <div class="row">
            <nb-checkbox (checkedChange)="isChaked()" status="success">Ajouter des Variants</nb-checkbox>
          </div>
          <div class="row" *ngIf="isChaked()">
            List des properties
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-5">
      <nb-card>
        <nb-card-body class="row">
          <div class="col ">
            <i class="fa-solid fa-boxes-packing m-lg-1"></i>
            <strong>Information Générale</strong>
          </div>
          <div class="row ">
            <div class="form-group">
              <label class="form-label">Model</label>
              <input
                fullWidth
                formControlName="model"
                status="info"
                type="text"
                nbInput
                [status]="prodform.controls['model'].dirty ? (prodform.controls['model'].invalid  ? 'danger' : 'success') : 'basic'"
                placeholder="Model ">
            </div>
          </div>
          <div class="row ">
            <div class="form-group">
              <label class="form-label"> Type</label>
              <nb-select
                placeholder="Choisir Type ..."
                fullWidth
                status="info"
                selected="produit fini"
                [status]="prodform.controls['typeProd'].dirty ? (prodform.controls['typeProd'].invalid  ? 'danger' : 'success') : 'basic'"
                formControlName="typeProd">
                <nb-option value="produit fini">produit fini</nb-option>
                <nb-option value="matières premières">matières premières</nb-option>
                <nb-option value="Consommable">Consommable</nb-option>
                <nb-option value="Service">Service</nb-option>
              </nb-select>
              <ng-container
                *ngIf=" submitted  && prodform.controls['typeProd'].invalid && prodform.controls['typeProd'].dirty">
                <nb-alert class="my-2" status="danger">
                  Incorrect Types format ...
                </nb-alert>
              </ng-container>
            </div>

          </div>
          <div class="row">
            <div class="form-group">
              <label class="col-lg-4 my-1">Catégorie </label>
              <div class="example-block__item">
                <ngx-select [allowClear]="true"
                            [items]="items"
                            formControlName="categoryId"
                            (select)="open()"
                            optionValueField="id" optionTextField="text"
                            optGroupLabelField="text" optGroupOptionsField="children"
                            placeholder="pas de categorie sélectionnée">
                </ngx-select>

                <div>

                </div>
              </div>
            </div>
            <ng-container
              *ngIf=" submitted  && prodform.controls['categoryId'].invalid && prodform.controls['categoryId'].dirty">
              <nb-alert class="my-2" status="danger">
                Incorrect category input ...
              </nb-alert>
            </ng-container>

          </div>
        </nb-card-body>
      </nb-card>
      <nb-card class="card-color">
        <nb-card-body class="row d-flex justify-content-start">

          <div class="row ">

            <div class="full-name-inputs">
              <label class="col-lg-4 my-1">Image</label>
              <input
                formControlName="urlImage"
                [status]="prodform.controls['urlImage'].dirty ? (prodform.controls['urlImage'].invalid  ? 'danger' : 'success') : 'basic'"
                status="info" type="text"
                nbInput fullWidth placeholder="Url d'image">
            </div>
            <ng-container
              *ngIf=" submitted  && prodform.controls['urlImage'].invalid && prodform.controls['urlImage'].dirty">
              <nb-alert class="my-2" status="danger">
                Insert url image ....
              </nb-alert>
            </ng-container>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body class="row">
          <strong>
            <i class="fa-solid fa-cart-flatbed m-lg-1"> </i>Stokable
          </strong>
          <div class="full-name-inputs">
            <label class="col-lg-4 my-1">Poids</label>
            <input formControlName="poids"
                   [status]="prodform.controls['poids'].dirty ? (prodform.controls['poids'].invalid  ? 'danger' : 'success') : 'basic'"
                   status="info"
                   type="text"
                   nbInput
                   fullWidth placeholder="Poids De produit">

          </div>
          <ng-container
            *ngIf=" submitted  && prodform.controls['poids'].invalid && prodform.controls['poids'].dirty">
            <nb-alert class="my-2" status="danger">
              le poids n'es pas vide ou doit etre un nombre décimal
            </nb-alert>
          </ng-container>
          <div class="full-name-inputs">
            <label class="col-lg-4 my-1">volume</label>
            <input
              formControlName="volume"
              [status]="prodform.controls['volume'].dirty ? (prodform.controls['volume'].invalid  ? 'danger' : 'success') : 'basic'"
              status="info" type="text"
              nbInput fullWidth
              placeholder="volume De produit">
          </div>
          <ng-container
            *ngIf=" submitted  && prodform.controls['volume'].invalid && prodform.controls['volume'].dirty">
            <nb-alert class="my-2" status="danger">
              la volume est un nombre décimal
            </nb-alert>
          </ng-container>
        </nb-card-body>
      </nb-card>
      <ng-container *ngIf="prpertynameTab.length > 0">

        <nb-card>
          <nb-card-header>Proprietes</nb-card-header>
          <nb-card-body>
            <div formArrayName="properties">
              <ng-container *ngFor="let p of properties.controls; index as i" [formGroupName]="i">
                <div class="row">
                  <label class="form-group mb-2">{{prpertynameTab[i]}}</label>
                  <input
                    formControlName="value"
                    status="info"
                    type="text"
                    nbInput
                    placeholder="{{prpertynameTab[i]}}">
                </div>
              </ng-container>
            </div>
          </nb-card-body>
        </nb-card>
      </ng-container>
    </div>
  </div>

  <hr>

  <div class="col-lg left col">
    <button nbButton status="primary" type="submit" [disabled]="prodform.invalid">Ajouter
    </button>
    <button nbButton outline status="warning" type="reset">
      <i class="fa-solid fa-trash mx-1"></i>
    </button>

  </div>
</form>
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>proprietes</nb-card-header>
    <nb-card-body>

      <div>
        <nb-alert accent="warning" size="medium">
          <div class=" row  my-auto">
            <div class="col-2 "><i class="fa-solid fa-triangle-exclamation display-6">
            </i></div>
            <div class="col-10">
              Cette categorie ne contient pas des proprietes
            </div>
          </div>
        </nb-alert>
        <a class="btn-link link-primary" routerLink="/add">Ajouter Properties</a>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
