<div *ngIf="!!thisUser">
  <div class="row">
    <div class="col-md-4">
      <nb-card size="large">
        <img src="assets/bgs/d.jpg" class="rounded-3 mb-1 " alt="" width="100%">
        <div class="row justify-content-center text-center">
          <img class="roundedImage shadow p-0 bg-body " src="assets/Users/avatar.webp"
               alt="photo de profile"/>
        </div>
        <div class="row justify-content-center text-center ">
          <p class="h5 mt3">
            {{thisUser.nom + " " + thisUser.prenom}}</p>
        </div>
        <div class="row justify-content-center text-center mb-3 ">
          <p>
            <img class="iconProfile" src="assets/profileimgs/a-04.svg"/>
            {{thisUser.email}}</p>
        </div>
      </nb-card>
    </div>
    <div class="col-md-8 ">
      <nb-card class="bgd" size="large">
        <nb-card-body>
          <h5>informations de l'utilisateur</h5>
          <nb-tabset>
            <nb-tab tabIcon="person">
              <div class="row ">
                <div class="col-6">
                  <div class="row  ">
                    <p>   <img class="iconProfile" src="assets/profileimgs/a-03.svg"/>
              <strong>     Matricule : </strong>
                      {{thisUser.matricule}}
                 </p>
                  </div>
                  <div class="row ">
                    <p>
                      <img for="staticEmail" class="iconProfile" src="assets/profileimgs/a-02.svg"/>
                      <strong> Nom et Prénom :    </strong> {{thisUser.nom + " " + thisUser.prenom}}   </p>
                  </div>
                  <div class="row ">
                    <p>
                      <img class="iconProfile" src="assets/profileimgs/a-04.svg"/>
                      <strong> Email :  </strong>   {{thisUser.email}}   </p>
                  </div>
                  <div class="row ">
                    <p>
                      <img class="iconProfile" src="assets/profileimgs/a-07.svg"/>
                      <strong> Telephone :  </strong> {{thisUser.phoneNumber}}    </p>
                  </div>
                  <div class="row ">
                    <p>
                      <img class="iconProfile" src="assets/profileimgs/a-09.svg"/>
                      <strong>  Adresse :  </strong>   {{thisUser.ville + " , " + thisUser.adress}}  </p>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row ">
                    <p>
                      <img class="iconProfile" src="assets/profileimgs/a-12.svg"/>
                      <strong> Poste Occupé :  </strong>     {{thisUser.poste }}</p>
                  </div>
                  <div class="row ">
                    <p>
                      <img class="iconProfile" src="assets/profileimgs/a-11.svg"/>
                      <strong> Code postale :  </strong>
                      {{thisUser.codePostal}}</p>
                  </div>
                  <div class="row ">
                    <p>
                      <img class="iconProfile" src="assets/profileimgs/a-06.svg"/>
                      <strong> Genre : </strong>  {{thisUser.genre }}</p>
                  </div>
                  <div class="row ">
                    <p>
                      <img class="iconProfile" src="assets/profileimgs/a-13.svg"/>
                      <strong> Date de naissance </strong>   {{thisUser.datedeNaissance | date}}</p>
                  </div>

                </div>
              </div>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
