<div class="mb-4">
  <ng-template #separatorTemplate>
    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
  </ng-template>

  <div class="col-md text-primary ">
    <xng-breadcrumb  [separator]="separatorTemplate"
                     class="myapp-breadcrumb"
                     id="advancedTemplate2"
                     [preserveQueryParams]="false">
    </xng-breadcrumb>
  </div>

</div>

<div class="card-row justify-content-center">
  <div class="col-md-10">
    <nb-card  accent="warning">
      <nb-card-body class="row">
        <div class="col-md-4 col-6 col-sm-none">
          <img src="assets/imgs/Role-add.svg" class="img-fluid" style ="max-width: 150%;" /> </div>
        <div class="col-md-8 col-6 col-sm-12">
        <button nbButton  outline status="primary" class="my-2"   (click)="open()" >Ajouter  role</button>
        <ng2-smart-table  [settings]="settings" [source]="rolesTab" (edit)="editrole($event)" (delete)="deleteRole($event)">
        </ng2-smart-table>
        </div>
      </nb-card-body>
    </nb-card>


  </div>
</div>
