
<nb-card>
  <nb-card-header>
    <ng-template #separatorTemplate>
      <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
    </ng-template>
    <xng-breadcrumb [separator]="separatorTemplate"
                    class="subtite"
                    id="advancedTemplate1"
                    [preserveQueryParams]="false" ></xng-breadcrumb>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col ">
        <h4 >Roles</h4>
      </div>
      <div class=" left col">
        <button nbButton  appearance="ghost" ><nb-icon icon="menu-outline"></nb-icon>List View</button>
        <button nbButton appearance="ghost" > <nb-icon icon="grid"></nb-icon>Grid View</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>



<div class="box">
  <div class="card1 col-12 col-md-4 col-sm-4 ">
    <nb-card status="info" accent="primary" class="mx-1">
      <nb-card-body class="row">
        <div class="col-md-4 col-4 col-sm-none">
          <img src="assets/imgs/Role-add.svg" class="img-fluid" style ="max-width: 100%;" /> </div>
        <div class="col-md-8 col-8 col-sm-12">
          <button nbButton  outline status="primary"   (click)="open()" >Add new role</button>
          <label class="subtitle ">Add role if not exists</label>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="card1 col-12 col-md-4 col-sm-4 "  *ngFor="let r of rolesTab">
    <nb-card accent="info" class="mx-1" >
      <nb-card-body>
        <p class="subtitle ">{{r.name}}</p>
        <label class="subtitle-2 ">Total 4 users</label>
        <div class="row col-md-6 col-12">
          <button nbButton ghost  status="success" class="col-md-4 col-4" (click)="editRole(r.name, r.id)" ><nb-icon icon="edit"></nb-icon></button>
          <button nbButton ghost  status="danger" (click)="deleteRole(r.name)"  class="col-md-4 col-4"><nb-icon icon="trash-2-outline"></nb-icon></button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
