@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};



.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}
button{
  margin-inline: 0.2em;
}
.left {
  display: flex;
  justify-content: flex-end;
}
:host ::ng-deep .xng-breadcrumb-trail {

  color: #0e68ee;

}
