

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.4rem;
}
.left {
  display: flex;
  justify-content: flex-end;
}
.box {
  display: flex;
  flex-flow: row wrap;

  .one {
    flex: 1 1 auto;
  }
}

:host ::ng-deep .xng-breadcrumb-trail {

  color: #0e68ee;

}
